### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [358]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [359]:
## Player Count
total_player = purchase_data["SN"].nunique()
df = pd.DataFrame(
    {"Total Players": [total_player]
     }
)
     
df

   Total Players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [360]:
unique_items = str(purchase_data["Item ID"].nunique())
avg_price = str("${:,.2f}".format(purchase_data["Price"].mean()))
num_pur = str(purchase_data["Purchase ID"].count())
total_rev = str("${:,.2f}".format(purchase_data["Price"].sum()))

df2 = pd.DataFrame(
    {"Number of Unique Items": [unique_items],
       "Average Price": [avg_price],
       "Number of Purchases":[num_pur],
       "Total Revenue": [total_rev]})
df2

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [361]:
group_gender = purchase_data.groupby("Gender")
count_gender = group_gender["SN"].nunique()
percentage_gender = count_gender / total_player*100
df3 = pd.DataFrame({"Total Count":count_gender,
                    "Percentage of Players": percentage_gender})
df3.index.name = None
df3.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [341]:
group_gender2 = purchase_data.groupby("Gender")
count_gender = group_gender2["SN"].nunique()
purchase_gender = group_gender2["Purchase ID"].count()
total_purchase = group_gender2["Price"].sum()
avg_purchase_price = group_gender2["Price"].mean()
avg_purchase_price_perperson = total_purchase / count_gender
df4 = pd.DataFrame({"Purchase Count": purchase_gender,
                    "Average Purchase Price": avg_purchase_price,
                    "Average Purchase Value": total_purchase,
                    "Avg Total Purchase Per Person":avg_purchase_price_perperson })
df4.index.name = "Gender"
df4.style.format({"Average Purchase Value":"${:.2f}",
                  "Average Purchase Price":"${:.2f}",
                  "Avg Total Purchase Per Person":"${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [342]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
row_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
total_players = purchase_data["SN"].nunique()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
age_grouped = purchase_data.groupby("Age Group")
total_count = age_grouped["SN"].nunique()
percentage = (total_count/total_players) * 100
df5 = pd.DataFrame({"Total Count": total_count, 
                    "Percentage of Players": percentage})
df5.index.name = None
df5.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [343]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
row_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data
age_grouped = purchase_data.groupby("Age Group")
age_unique = age_grouped["SN"].nunique()
purchase_count = age_grouped["Purchase ID"].count()
avg_purchase_price = age_grouped["Price"].mean()
total_purchase_value = purchase_count*avg_purchase_price
avg_total_perchase_per_person = total_purchase_value/age_unique

df6 = pd.DataFrame({"Purchase Count": purchase_count, 
                    "Average Purchase Price":avg_purchase_price,
                    "Total Purchase Value":total_purchase_value,
                    "Avg Total Purchase per Person":avg_total_perchase_per_person })
df6.index.name = None
df6.style.format({"Average Purchase Price":"${:.2f}",
                  "Total Purchase Value":"${:.2f}",
                  "Avg Total Purchase per Person":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [348]:
grouped_sn = purchase_data.groupby("SN")
purchase_count = grouped_sn["Purchase ID"].count()
total_purchase_value = grouped_sn["Price"].sum()
avg_purchase_price = grouped_sn["Price"].mean()
df7 = pd.DataFrame({"Purchase Count":purchase_count,
                    "Average Purchase Price":avg_purchase_price,
                    "Total Purchase Value":total_purchase_value})
sort_top = df7.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top.style.format({"Average Purchase Price":"${:.2f}",
                     "Total Purchase Value":"${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
grouped = purchase_data.groupby(["Item ID","Item Name"])
purchase_count = grouped["Purchase ID"].count()
total_purchase_value = grouped["Price"].sum()
item_price = total_purchase_value/purchase_count
df8 = pd.DataFrame({"Purchase Count":purchase_count,
                    "Item Price":item_price,
                    "Total Purchase Value":total_purchase_value})
sort_top = df8.sort_values(["Purchase Count"], ascending=False).head()
sort_top.style.format({"Item Price":"${:.2f}",
                       "Total Purchase Value":"${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [357]:
sort2 = df8.sort_values(["Total Purchase Value"],ascending=False).head()
sort2.style.format({"Item Price":"${:.2f}",
                       "Total Purchase Value":"${:.2f}"})